setuptools==70.0.0
#pywin32==306
comtypes==1.2.0
SpeechRecognition==3.10.3
pyttsx3==2.90
sounddevice==0.4.6
soundfile==0.12.1
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.2.1
python-dotenv==1.0.0
pytest==7.4.4
pytest-cov==4.1.0
pyaudio==0.2.14
pre-commit==4.3.0
